.card{
    width:100%;
    border:1px solid #5acc5c;
    border-radius:5px;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.2s ;
    background-color: #abd2df;
}

.fancy-border {
    border: 2px solid #e60f33;
    border-radius: 5px;
    padding: 5px;
  }